.commentCard {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: azure;
    border-radius: 15px;
    max-width: 80%;
}

.comment {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info h4 {
    font-size: small;
}

.body {
    overflow: scroll;
    padding: 2rem;
}